.problems {
    // min-height: ;
    background: var(--bg);
    padding: 25px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 12px;
    column-gap: 12px;
    font-family: var(--font-family);
    & .problemcard {
        background: var(--bold-color);
        min-height: 200px;
        padding: 10px;

        & .header {
            font-size: 24px;
        }
    }
}
