.problems {
    // min-height: ;
    background: var(--bg);
    padding: 25px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 14px;
    column-gap: 14px;
    font-family: var(--font-family);
    & .problemcard {
        cursor: pointer;
        background: var(--bold-color);
        min-height: 160px;
        padding: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 3px var(--bold-color);

        &:hover {
            & .header {
                color: var(--color-mainGreen);
            }
        }

        & .header {
            transition: color 100ms;
            font-size: 22px;
            line-height: 1.1;
            font-weight: 300;
            color: var(--main-bg);

            // justify-self: flex-start;
        }

        & .metadata {
            color: var(--bg);
            border-top: solid 1px black;
            font-size: 0.8rem;
            margin-top: auto;
            font-weight: 600;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 6px 0px;
            justify-content: space-between;

            & .completed,
            .tryAgain {
                font-size: 0.92rem;
                font-weight: 600;
            }
            & .completed {
                color: var(--color-mainGreen);
            }

            & .tryAgain {
                color: var(--color-darkOrange);
            }

            & .difficulty {
                display: inline-block;
                padding: 4px 11px;
                border-radius: 20px;
                text-transform: uppercase;
                background: var(--color-mainGreen);
                // classes to change the background color depending on the difficulty
                &.easy {
                    background: var(--color-mainGreen);
                }
                &.medium {
                    background: orange;
                }
                &.hard {
                    background: var(--color-fail);
                }
            }
        }
    }
}
