.editorial {
    overflow-y: scroll;
    height: 100%;
    background: var(--main-bg);

    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto;

    .editor {
        width: 100%;
        height: calc(100vh - 180px);

        .editor-component {
            height: calc(100vh - 180px);

            position: relative;
            display: grid;
            grid-template-rows: auto 1fr;
            background-color: var(--main-bg);
            z-index: 10;

            & .header {
                height: 40px;

                font-size: 1.3rem;
                margin-bottom: 10px;
                font-weight: 400;
                padding-left: 20px;
                color: var(--bold-color);
                display: flex;
                align-items: center;
            }
        }

        .files {
            display: flex;
            justify-content: flex-start;
            background: var(--files-bg);

            .file-btn {
                cursor: pointer;
                padding: 9px 15px;
                background: var(--files-bg);
                border: 0;
                border-left: solid 0px rgb(61, 61, 61);
                border-right: solid 1px rgb(61, 61, 61);
                border-collapse: collapse;
                outline: none;
                font-size: 0.95rem;
                color: var(--text-color);
                font-weight: 400;
                font-family: var(--font-family);
                display: flex;
                justify-content: center;
                align-items: flex-end;
                .icon {
                    width: 18px;
                    height: 18px;
                    background-size: cover;
                    margin-right: 7px;
                    background-position: center;

                    & svg {
                        width: 100%;
                        height: 100%;
                    }
                }
                &:disabled {
                    background: orange;
                    background: #282c34;
                }
            }
        }
    }

    .submit {
        padding: 17px 12px;
        display: flex;
        position: relative;
        justify-content: flex-end;
        background: var(--inputs-bg);
        font-family: var(--font-family);

        z-index: 100;

        & button {
            cursor: pointer;
            padding: 10px 16px;
            margin: 6px;
            border-radius: 4px;
            background: transparent;
            font-size: 1rem;
            &.testrun-btn {
                border: solid 1px var(--color-mainGreen);
                color: var(--color-mainGreen);
            }

            &.submit-btn {
                background: var(--color-mainGreen);
                color: var(--bold-color);
            }

            &.submit-btn:disabled,
            &.testrun-btn:disabled {
                opacity: 0.8;
            }

            &:active,
            &:hover {
                outline: none;
            }
        }
    }
    .CodeCompileView-wrapper {
        position: relative;
        & .loadingspinner-wrapper-for-codecompile {
            padding: 10px;
            margin: 90px auto;
            width: 230px;
            height: 230px;
        }

        .codecompileview {
            background: var(--inputs-bg);
            position: relative;
            $padding-sides: 22px;
            font-family: var(--font-family);
            color: var(--paragraph-color);
            font-weight: 500;
            .title {
                background: var(--bg);
                font-size: 2rem;
                font-weight: 300;
                padding: 3px $padding-sides 8px $padding-sides;

                &.red {
                    color: var(--color-fail);
                }

                &.green {
                    color: var(--color-mainGreen);
                }
            }

            & p {
                padding: 10px $padding-sides;
                font-size: var(--paraghrap-fontsize);
                font-weight: 600;
                color: var(--paragraph-color);
            }

            .compilecases-wrapper {
                display: grid;
                grid-template-columns: auto 1fr;
                background: var(--main-bg);

                & .case-list {
                    & ul {
                        list-style: none;

                        & li {
                            cursor: pointer;
                            font-size: 1.1rem;
                            @include wide-screen() {
                                font-size: 1.5rem;
                            }
                            padding: 13px $padding-sides;
                            font-weight: 300;
                            background: var(--main-bg);
                            display: flex;
                            align-items: center;
                            line-height: 30px;

                            & svg {
                                margin-right: 3px;
                            }

                            &.red {
                                color: var(--color-fail);
                            }

                            &.green {
                                color: var(--color-mainGreen);
                            }

                            &.highlight {
                                background: var(--bg);
                            }
                        }
                    }
                }

                & .case-content {
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    background: var(--bg);

                    & .subpart {
                        margin-bottom: 22px;
                        & h4 {
                            font-size: 1.05rem;
                            @include wide-screen() {
                                font-size: 1.13rem;
                            }
                            font-weight: 400;
                            color: var(--paragraph-color);
                        }

                        & .output {
                            padding: 12px 15px;

                            margin-top: 7px;
                            background: var(--inputs-bg);
                            color: var(--inputs-color);
                            font-size: var(--inputs-fontsize);

                            & div {
                                margin: 4px 0;
                                word-wrap: break-word;

                                &::before {
                                    // \0026 is the "and" sign, (&)
                                    content: '\0026';
                                    display: inline-block;
                                    color: var(--bold-color);
                                    font-weight: 100;
                                    font-size: 0.65rem;
                                    padding-right: 6px;
                                    margin-right: 6px;
                                    border-right: 1px var(--bold-color);
                                    border-style: solid;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
