.editorial {
    overflow-y: scroll;
    background: var(--main-bg);

    display: grid;
    grid-template-rows: 1fr auto auto;

    .editor {
        width: 100%;
        height: 80vh;
        // overflow-y: scroll;

        .files {
            display: flex;
            justify-content: flex-start;
            background: var(--files-bg);

            .file-btn {
                // #ABB2BF
                // background	#282C34
                cursor: pointer;
                padding: 9px 15px;
                background: var(--files-bg);
                border: 0;
                border-left: solid 0px rgb(61, 61, 61);
                border-right: solid 1px rgb(61, 61, 61);
                border-collapse: collapse;
                outline: none;
                font-size: 0.95rem;
                color: white;
                font-weight: 300;
                font-family: var(--font-family);
                display: flex;
                justify-content: center;
                align-items: flex-end;
                .icon {
                    width: 21px;
                    height: 21px;
                    background-size: cover;
                    margin-right: 4px;
                    background-position: center;
                }
                &:disabled {
                    background: orange;
                    background: #282c34;
                }
            }
        }
    }

    .submit {
        padding: 17px 12px;
        display: flex;
        position: relative;
        bottom: 0;
        position: relative;
        justify-content: flex-end;
        background: var(--inputs-bg);
        font-family: var(--font-family);

        & button {
            cursor: pointer;
            padding: 10px 16px;
            margin: 6px;
            border-radius: 4px;
            background: transparent;
            font-size: 1rem;
            &.testrun-btn {
                border: solid 1px var(--color-success);
                color: var(--color-success);
            }

            &.submit-btn {
                background: var(--color-success);
                color: var(--bold-color);
            }

            &:active,
            &:hover {
                outline: none;
            }
        }
    }
    .CodeCompileView-wrapper {
        // display: none;
        .codecompileview {
            // display: none;
            background: var(--inputs-bg);
            position: relative;
            padding-bottom: 15px;
            $padding-sides: 22px;
            font-family: var(--font-family);

            .title {
                background: var(--bg);
                font-size: 2rem;

                font-weight: 300;
                padding: 3px $padding-sides 8px $padding-sides;

                &.red {
                    color: var(--color-fail);
                }

                &.green {
                    color: var(--color-success);
                }
            }

            & p {
                padding: 10px $padding-sides;
                font-size: var(--paraghrap-fontsize);
                font-weight: 200;
                color: var(--paraghrap-color);
            }

            .compilecases-wrapper {
                display: grid;
                grid-template-columns: auto 1fr;
                background: var(--main-bg);
                min-height: 600px;

                & .case-list {
                    & ul {
                        list-style: none;

                        & li {
                            cursor: pointer;
                            font-size: 1.1rem;
                            @include wide-screen() {
                                font-size: 1.5rem;
                            }
                            padding: 13px $padding-sides;
                            font-weight: 300;
                            background: var(--main-bg);
                            display: flex;
                            align-items: center;
                            line-height: 30px;

                            & svg {
                                margin-right: 3px;
                            }

                            &.red {
                                color: var(--color-fail);
                            }

                            &.green {
                                color: var(--color-success);
                            }

                            &.highlight {
                                background: var(--bg);
                            }
                        }
                    }
                }

                & .case-content {
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    background: var(--bg);

                    & .subpart {
                        margin-bottom: 22px;
                        & h4 {
                            font-size: 1.05rem;
                            @include wide-screen() {
                                font-size: 1.13rem;
                            }
                            font-weight: 200;
                            color: var(--paraghrap-color);
                        }

                        & .output {
                            padding: 12px 15px;
                            // max-width: 550px;
                            margin-top: 7px;
                            background: var(--inputs-bg);
                            color: var(--inputs-color);
                            font-size: var(--inputs-fontsize);

                            & div {
                                margin: 4px 0;
                                word-wrap: break-word;

                                &::before {
                                    // \0026 is the "and" sign, (&)
                                    content: '\0026';
                                    display: inline-block;
                                    color: var(--bold-color);
                                    font-weight: 100;
                                    font-size: 0.65rem;
                                    padding-right: 6px;
                                    margin-right: 6px;
                                    border-right: 1px var(--bold-color);
                                    border-style: solid;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    --main-bg: #282c34;
    --resize-bg: rgb(22, 21, 22);
    --dots-color: rgb(255, 255, 255);
    --bg: #21252b;
    --text-color: white;
    --hover-color: rgb(207, 207, 207);
    --bold-fontsize: 1.02rem;
    --bold-color: #d4e4f9;
    --mini-fontsize: 0.72rem;
    --header-fontsize: 1.5rem;
    --transition-speed: 200ms;
    --bold: 600;
    --font-family: 'Roboto Mono', monospace;
    --paraghrap-fontsize: 0.8rem;
    --paraghrap-color: #8a9bba;
    --paraghrap-fontfamily: 'Open Sans', Arial, Helvetica, sans-serif;
    --varible-fontfamily: 'Roboto Slab', serif;
    --variable-fontsize: 0.91rem;
    --inputs-fontsize: 0.9rem;
    --inputs-color: #d4e4f9;
    --inputs-bg: #141618;
    --files-bg: #21252b;
}
