.question {
    --bg: #21252b;
    --text-color: white;
    --paraghrap-fontsize: 0.95rem;
    --header-fontsize: 1.5rem;
    --bold: 600;
    --font-family: 'Roboto Mono', monospace;
    // flex: 0.4;
    width: 400px;
    background-color: var(--bg);
    font-family: var(--font-family);
    color: var(--text-color);
    padding: 12px 0 0 20px;
    .header {
        .title {
            font-weight: var(--bold);
            font-size: var(--header-fontsize);
            color: var(--text-color);
        }

        .info {
            background: orange;
            display: flex;
            align-items: center;
            padding: 1px;

            & .info-div {
                background: rgb(8, 71, 129);
                margin: 0 4px;
                font-weight: 300;
                font-size: var(--paraghrap-fontsize);
                &.easy {
                    color: greenyellow;
                }
            }
        }
    }
}
