.question {
    --bg: #222218;
    --text-color: white;
    --paraghrap-fontsize: 1rem;
    --header-fontsize: 1.5rem;
    --bold: 700;
    --font-family: 'Roboto Mono', monospace;
    // flex: 0.4;
    width: 400px;
    background-color: rgb(0, 255, 191);
    font-family: var(--font-family);
    padding: 12px 0 0 20px;
    .header {
        .title {
            font-weight: var(--bold);
            font-size: var(--header-fontsize);
            color: var(--text-color);
        }

        .info {
            background: orange;
            display: flex;
            align-items: center;

            & div {
                background: chartreuse;

                & .easy {
                    color: greenyellow;
                }
            }
        }
    }
}
