.webframe {
    width: 400px;
    height: 100%;
    max-width: 70vw;
    min-width: 20vw;
    background: royalblue;

    & #webframeId {
        width: 100%;
        height: 100%;
        border: none;
        background: rgb(126, 66, 66);
    }
}
