.cssbattle {
    display: grid;
    height: calc(100vh - 94px);
    min-height: 550px;
    margin: 0;
    grid-template-columns: 1fr auto auto;
    background-color: var(--bg);
    font-family: var(--font-family);

    & .editor {
        height: 97%;
        position: relative;
        top: 0px;
        overflow-y: scroll;
        background-color: orange;
        display: grid;
        grid-template-rows: auto 1fr auto 1fr;
        // removing the scrollbar on windows
        ::-webkit-scrollbar {
            -webkit-appearance: none !important;
            width: 0px !important;
        }
        ::-webkit-scrollbar-thumb {
            display: none !important;
        }

        & .editor-resizebar {
            width: 100%;
            height: 12px;
            resize: vertical;
            overflow: auto;
            background-color: rgb(11, 10, 98);
        }
        & .editor-fraction {
            width: 100%;
            height: 100%;
            background: linear-gradient(195deg, rgb(3, 149, 47), purple);
        }
        & section {
            position: relative !important;
            height: calc(100vh - 49px - 94px) !important;
        }
    }

    & .column-header {
        width: 100%;
        padding: 13px 20px;
        font-size: 1.1rem;
        background-color: var(--bg);
        color: var(--bold-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        & span {
            position: relative;
            color: var(--hover-color);
        }
    }

    & .column-container {
        border-left: solid 1px var(--hover-color);
        // border-right: solid 1px var(--bold-color);
        border-collapse: collapse;
        width: 430px;
        height: 100%;
        position: relative;
        // background: linear-gradient(109deg, rgb(0, 255, 13), blue);

        & .img-container {
            width: 400px;
            height: 300px;
            margin: 10px auto;
            background-color: yellow;
            background-position: center;
            background-size: cover;

            &.output-iframe {
                .iframe-container {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background-color: plum;
                    & iframe {
                        background: white;
                        width: 400px;
                        height: 300px;
                        border: 0;
                        outline: 0;
                        overflow: hidden;
                        pointer-events: none;
                    }
                }
                &.output-iframe:hover {
                    cursor: col-resize;
                    & iframe {
                        border-right: solid 2px rgb(255, 0, 0);
                    }
                }
            }
        }

        & .colors-container {
            display: flex;
            flex-wrap: wrap;
            background-color: var(--resize-bg);
            padding: 5px 2px;
            width: 400px;
            margin: 20px auto;
            border-radius: 7px;

            & span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px 15px;
                height: auto;
                font-size: 1.1rem;
                color: var(--hover-color);
                & .color-circle {
                    width: 23px;
                    height: 23px;
                    border-radius: 50%;
                    background-color: orangered;
                    margin-right: 6px;
                }
            }
        }
    }
}
