.cssproblems {
    min-height: 700px;
    background: var(--bg);
    padding: 25px 50px;
    background: chartreuse;
    & .lvl-card {
        height: 230px;
        background: chocolate;
    }
    & .problem {
        margin: 10px 15px;
        width: 300px;
        height: 225px;
        background: linear-gradient(30deg, orange, blue);
    }
}
