.cssbattle {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr auto auto;
    background-color: var(--bg);
    font-family: var(--font-family);

    // removing the scrollbar on windows

    & .column-header {
        width: 100%;
        padding: 13px 20px;
        font-size: 1.1rem;
        background-color: var(--bg);
        color: var(--bold-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        & span {
            position: relative;
            color: var(--hover-color);
        }
    }

    & .column-container {
        border-left: solid 1px var(--hover-color);
        // border-right: solid 1px var(--bold-color);
        border-collapse: collapse;
        width: 430px;
        height: 100%;
        position: relative;
        // background: linear-gradient(109deg, rgb(0, 255, 13), blue);

        & .img-container {
            width: 400px;
            height: 300px;
            margin: 10px auto;
            background-color: red;
            background-position: center;
            background-size: cover;
        }

        & .colors-container {
            display: flex;
            flex-wrap: wrap;
            background-color: var(--resize-bg);
            padding: 5px 2px;
            width: 400px;
            margin: 20px auto;
            border-radius: 7px;

            & span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px 15px;
                height: auto;
                font-size: 1.1rem;
                color: var(--hover-color);
                & .color-circle {
                    width: 23px;
                    height: 23px;
                    border-radius: 50%;
                    background-color: orangered;
                    margin-right: 6px;
                }
            }
        }
    }
}
