.page404 {
    display: grid;
    place-items: center;
    height: calc(100vh - 94px);
    position: relative;
    font-size: 4.3rem;
    font-family: var(--font-family);
    background: var(--bg);
    text-align: center;
    color: transparent;
    $shadow-number: 8;
    $offset-x: 1px;
    $offset-y: 0px;
    $value: ();
    @for $i from 0 through ($shadow-number) {
        $theShadow: $offset-x *
            $i
            $offset-y *
            $i
            0px
            mix($color-green, $color-lightOrange, 100% / $shadow-number * ($i));
        $value: append($value, $theShadow, comma);
    }
    text-shadow: $value;
}
