.form {
    @import './question.scss';

    // removing the scrollbar on windows
    // ::-webkit-scrollbar {
    //     -webkit-appearance: none;
    //     width: 0px;
    // }
    // ::-webkit-scrollbar-thumb {
    //     display: none;
    // }

    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto 1fr;
    background: var(--main-bg);
    background-color: orange;
    overflow-x: hidden;

    .resizebar {
        cursor: ew-resize;
        display: grid;
        place-items: center;
        width: 12px;
        height: 100%;
        position: sticky;
        top: 0;
        left: 0;
        background-color: var(--resize-bg);

        .dots {
            height: 50px;
            max-height: 90%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            span {
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: var(--dots-color);
            }
        }
    }

    .editor-container {
        background: green;
        // width: 100%;
        height: 100vh;
        overflow-y: scroll;
        display: grid;
        grid-template-rows: 1fr auto;

        .buttons-wrapper {
            padding: 17px 12px;
            display: flex;
            justify-content: flex-end;
            background: var(--inputs-bg);

            & button {
                cursor: pointer;
                padding: 10px 16px;
                margin: 6px;
                border-radius: 4px;
                background: transparent;
                font-size: $fontSize-paragraph;
                transition: box-shadow $transition-speed;
                &.testrun-btn {
                    border: solid 1px $color-green;
                    color: $color-green;
                }

                &.submit-btn {
                    background: $color-green;
                    border: none;
                    color: var(--bold-color);
                }

                &.submit-btn:disabled,
                &.testrun-btn:disabled {
                    opacity: 0.8;
                }

                &:active,
                &:hover {
                    outline: none;
                }

                &:hover {
                    box-shadow: 1px 1px 3px 0px $color-green;
                }
            }
        }
    }
}
