.btn {
	min-height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	@apply min-h-[1.75rem] rounded-lg border border-transparent px-2 text-xs transition-colors md:min-h-[2rem] md:px-3 md:text-sm;
}

.primary {
	@extend .btn;
	@apply bg-success text-white;
}

.white {
	@extend .btn;
	@apply col-span-full border-black bg-white text-black;
}

.black {
	@extend .btn;
	@apply col-span-full border-black bg-clr-bg text-gray-100 hover:bg-clr-bg;
}

.dimmed {
	@extend .btn;
	@apply hover:bg-gray-500/10;
}

.error {
	@extend .btn;
	@apply bg-red-700 text-red-50 hover:bg-red-800;
}

.success {
	@extend .btn;
	@apply border-green-600  bg-green-700 text-green-100 hover:bg-green-800;
}

.warning {
	@extend .btn;
	@apply border-black bg-orange-700 text-amber-50 hover:bg-orange-800;
	// @apply bg-orange-100 text-orange-700 border-orange-500 hover:bg-orange-200;
}
