:root {
	--navbar-height: 72px;
	--accent: 29 155 240;
	--danger: 244 33 46;
	--bg: 255 255 255;
	--bg-grayed: 247 249 249;
	--bg-grayed-dark: 240 243 244;
	--text: 15 20 25;
	--text-grayed: 83 100 113;
	--border: 239 243 244;
}

html[data-theme='light'] {
	--bg: 255 255 255;
	--bg-grayed: 247 249 249;
	--bg-grayed-dark: 240 243 244;
	--text: 15 20 25;
	--text-grayed: 83 100 113;
	--border: 239 243 244;
}

html[data-theme='dark'] {
	--bg: 0 0 0;
	--bg-grayed: 32 35 39;
	--bg-grayed-dark: 22 24 28;
	--text: 231 233 234;
	--text-grayed: 113 118 123;
	--border: 47 51 54;
}

html[data-theme='dimmed'] {
	--bg: 21 32 43;
	--bg-grayed: 38 52 64;
	--bg-grayed-dark: 30 39 50;
	--text: 247 249 249;
	--text-grayed: 139 152 165;
	--border: 56 68 77;
}
