.nav {
	@apply mx-auto flex text-sm text-teal-500;
}

.searchWrapper {
	@apply mr-3 ml-auto bg-red-700 py-1  px-2;
}

.logo {
	transform: rotate(90deg);
	@apply relative mr-2 flex h-8 w-8 items-center justify-center transition-transform;

	> div {
		@apply absolute rounded-full transition-all;
	}

	$offset: 17%;
	@for $i from 1 through 4 {
		> div:nth-child(#{$i}) {
			width: calc(100% - ($offset * ($i - 1)));
			height: calc(100% - ($offset * ($i - 1)));
		}
	}
	> div:nth-child(1) {
		@apply bg-clr-accent-300;
	}
	> div:nth-child(2) {
		border-top-right-radius: 0px;
		@apply bg-clr-accent;
	}
	> div:nth-child(3) {
		border-bottom-right-radius: 0px;
		@apply bg-clr-accent-700;
	}
	> div:nth-child(4) {
		border-bottom-left-radius: 0px;
		@apply bg-clr-accent-800;
	}
	> div {
		@apply rounded-tl-none;
	}

	> div:nth-child(2) {
		border-top-right-radius: 9999px;
	}
	> div:nth-child(3) {
		border-bottom-right-radius: 9999px;
	}
	> div:nth-child(4) {
		border-bottom-left-radius: 9999px;
	}
	// }
}

@keyframes logoSwitcher {
	0%,
	50% {
		@apply mr-1 text-success;
	}

	100% {
		@apply ml-1 text-amber-500;
	}
}

.tab {
	@apply cursor-pointer font-bold transition-colors hover:text-green-400;
}

.controlsSpan {
	@apply relative mr-3 flex cursor-pointer items-center text-sm;
}

// .dropdownTriangle {
// 	transform: translate(1px, -1px) rotate(90deg);
// 	right: 21px;
// 	top: -11px;
// 	width: 0;
// 	height: 0;
// 	border-top: 8px solid transparent;
// 	border-bottom: 8px solid transparent;
// 	border-right: 8px solid rgb(229, 231, 235);
// 	position: absolute;

// 	&::after {
// 		content: '';
// 		width: 0;
// 		height: 0;
// 		border-top: 7px solid transparent;
// 		border-bottom: 7px solid transparent;
// 		border-right: 7px solid rgb(31, 41, 55);
// 		position: absolute;
// 		top: -7px;
// 		left: 1px;
// 	}
// }
