.cssproblems {
    min-height: 700px;
    background: var(--resize-bg);
    padding: 25px 50px;
    font-family: var(--font-family);

    & .container {
        background-color: var(--main-bg);
        display: grid;
        $width: 336px;
        grid-template-columns: repeat(auto-fit, $width);
        gap: 20px;
        padding: 15px;

        & .problem-wrapper {
            // margin: 15px 10px;
            // background-color: pink;
            & .problem {
                cursor: pointer;
                width: $width;
                height: $width/(4/3);
                position: relative;
                background-position: center;
                background-size: cover;

                & h2 {
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    font-size: 1.1rem;
                    background-color: black;
                    color: white;
                    text-align: center;
                    padding: 2px 15px;
                    border-radius: 12px;
                }
            }
            & .problem-metadata {
                background-color: var(--resize-bg);
                display: flex;
                justify-content: space-evenly;
                padding: 8px 4px;
            }
        }
    }
}
