.navbar {
    text-decoration: none;
    padding: 12px 55px;
    background: var(--main-bg);
    display: flex;
    // display: table-row;
    flex: 0 1 auto;
    justify-content: space-between;
    font-family: var(--font-family);

    & .logo {
        cursor: pointer;
        font-size: 2.1rem;
        display: flex;
        align-items: center;

        & h2 {
            color: var(--bold-color);
        }

        & .logo-icon-container {
            width: 70px;
            height: 70px;
            margin-left: 11px;
        }
    }

    &-content {
        display: flex;
        // width: 400px;
        place-items: center;
        // justify-items: center;

        &-item {
            cursor: pointer;
            margin: 0 6px;
            padding: 4px 10px;
            display: inline-flex;
            place-items: center;
            color: var(--bold-color);
            // font-size: var(--variable-fontsize);
            font-size: 1.05rem;
            font-weight: 300;
        }
    }
}
