.form {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0px;
    }

    ::-webkit-scrollbar-thumb {
        display: none;
    }

    .loadingspinner-wrapper-for-codecompile {
        height: 400px;
        position: relative;
        @import './loadingspinner.scss';
    }

    width: 100vw;
    height: calc(100vh - 94px);
    display: grid;
    grid-template-columns: auto auto 1fr;

    background: var(--main-bg);

    & .resizebar {
        cursor: ew-resize;
        display: grid;
        place-items: center;
        width: 12px;
        height: 100%;
        position: sticky;
        top: 0;
        left: 0;
        background-color: var(--resize-bg);

        & .dots {
            height: 50px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            & span {
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: var(--dots-color);
            }
        }
    }

    @import './form/monako.scss';
    @import './form/question.scss';
    @import './form/webframe.scss';
}
