.homepage {
    background: var(--bg);
    font-family: var(--font-family);

    & .herobanner {
        $text-color: rgb(232, 235, 207);
        // $color-green: #6c6ea0;
        // $color-blue: #ff1053;
        $color-green: #f4a261;
        $color-blue: #2a9d8f;

        $shadow-number: 7;
        min-height: 550px;
        display: grid;
        place-content: center;
        position: relative;

        & h1 {
            font-weight: 900;
            font-size: 8rem;

            // color: var(--color-success);
            color: $color-blue;
            -webkit-font-smoothing: antialiased;
            // background: linear-gradient($color-blue, $color-green);
            padding: 0px;
            // -webkit-text-stroke: 1px var(--color-success);
            $offset-x: 1px;
            $offset-y: 1px;
            $value: ();
            // creating the text shadows with a offset of "$offset-x"
            @for $i from 0 through ($shadow-number) {
                $theShadow: $offset-x *
                    $i
                    $offset-y *
                    $i
                    0px
                    mix($color-green, $color-blue, 100% / $shadow-number * ($i));
                $value: append($value, $theShadow, comma);
            }
            text-shadow: $value;
        }

        & .buttons {
            display: flex;
            margin-top: 12px;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px 0;

            & .outline-btn {
                font-size: 1.4rem;
            }
        }

        & .shapes-container {
            background: rgba(255, 0, 0, 0.205);
            width: 100%;
            height: 100%;
            position: absolute;

            & .shapes {
                overflow: hidden;
                position: relative;

                & .shape {
                    will-change: transform;
                    position: absolute;
                    border-radius: 50%;

                    $shapes: (
                        #005ffe: 650px,
                        #ffe5e3: 440px,
                        #ffcc57: 270px,
                    );

                    @each $color, $size in $shapes {
                        &.shape-#{index($shapes, ($color $size))} {
                            background: $color;
                            width: $size;
                            height: $size;
                            margin: (-$size/2) 0 0 (-$size/2);
                        }
                    }
                }
            }
        }
    }

    .leaderboard-container {
        background: var(--main-bg);
        padding: 30px 60px;

        & .header {
            text-align: center;
            color: var(--bold-color);
            padding: 10px 0;
            font-size: 2.2rem;
        }

        & .leaderboard-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 8px;
            row-gap: 8px;
            & .row-wrapper {
                background: var(--bg);
                border-radius: 6px;
                padding: 15px;
                display: grid;
                grid-template-columns: auto auto 1fr;
                place-items: center;

                & .number {
                    font-size: 1.3rem;
                    font-weight: 900;
                    color: var(--bold-color);
                }

                &.gold {
                    background: rgb(102, 85, 43);
                    & .number {
                        color: gold;
                    }
                }

                &.silver {
                    background: rgb(77, 77, 77);
                    & .number {
                        color: silver;
                    }
                }
                &.bronze {
                    background: rgba(177, 113, 18, 0.29);
                    & .number {
                        color: rgb(223, 140, 17);
                    }
                }
                & .image {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    margin: 0 10px 0 14px;
                    // background: pink;
                    background-size: cover;
                    background-position: center;
                }

                & .text-field {
                    font-size: 1.4rem;
                    font-weight: 700;
                    width: 100%;
                    color: var(--bold-color);

                    & .stats {
                        font-size: 1rem;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}
