*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

:root {
  --bg: #21252b;
  --main-bg: #282c34;
  --files-bg: #1d2024;
  --inputs-bg: #141618;
  --resize-bg: #161516;
  --dots-color: #eeeeee;
  --bold-color: #d4e4f9;
  --text-color: #ffffff;
  --hover-color: #ffffffbd;
  --inputs-color: #d4e4f9;
  --paragraph-color: #8a9bba;
}

body {
  background-color: var(--main-bg);
  scroll-behavior: smooth;
}
body .App .flex-1-1-auto {
  flex: 1 1 auto;
}
body .App .outline-btn {
  font-size: 1.25rem;
  display: inline;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #2a9d8f;
  outline: solid 2px #2a9d8f;
  outline-offset: -2px;
  color: var(--bold-color);
  font-weight: 300;
  transition: outline-offset 170ms;
  cursor: pointer;
}
body .App .outline-btn:hover {
  outline-offset: 4px;
}
body .App .homepage {
  background: var(--bg);
  font-family: var(--font-family);
  position: relative;
}
body .App .homepage .herobanner {
  min-height: 550px;
  position: relative;
  display: grid;
  place-content: center;
}
body .App .homepage .herobanner .blobs-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
body .App .homepage .herobanner .blobs-container.loading .blob {
  animation: fadeInBlob 1400ms ease infinite alternate-reverse;
}
body .App .homepage .herobanner .blobs-container .blob {
  position: absolute;
  fill: var(--color-success);
  transform: rotate(80deg);
  animation: fadeInBlob 1500ms ease;
}
body .App .homepage .herobanner .blobs-container .blob.b1 {
  right: calc(1 * -10px - 50px);
  bottom: calc(1 * -10px - 55px);
  width: calc((1 * 30px) + 200px);
  height: calc((1 * 30px) + 200px);
  animation-delay: calc((3 - 1) * 100ms);
  fill: #2a9d8f;
  z-index: 3;
}
body .App .homepage .herobanner .blobs-container .blob.b2 {
  right: calc(2 * -10px - 50px);
  bottom: calc(2 * -10px - 55px);
  width: calc((2 * 30px) + 200px);
  height: calc((2 * 30px) + 200px);
  animation-delay: calc((3 - 2) * 100ms);
  fill: #e9c46a;
  z-index: 2;
}
body .App .homepage .herobanner .blobs-container .blob.b3 {
  right: calc(3 * -10px - 50px);
  bottom: calc(3 * -10px - 55px);
  width: calc((3 * 30px) + 200px);
  height: calc((3 * 30px) + 200px);
  animation-delay: calc((3 - 3) * 100ms);
  fill: #f4a261;
  z-index: 1;
}
@keyframes fadeInBlob {
  0% {
    transform: rotate(80deg);
  }
  25% {
    transform: rotate(80deg) scale(0.55) translate(-30px, 10px);
  }
  50% {
    transform: rotate(80deg) scale(1) translate(0px, 0px);
  }
  75% {
    transform: rotate(80deg) scale(0.55) translate(-30px, 10px);
  }
  100% {
    transform: rotate(80deg);
  }
}
body .App .homepage .herobanner .content {
  position: relative;
  z-index: 2;
}
body .App .homepage .herobanner .content h1 {
  font-weight: 900;
  font-size: 8rem;
  color: #e9c46a;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
  text-shadow: 0px 0px 0px #0a1128, 1px 1px 0px #0f2537, 2px 2px 0px #133945, 3px 3px 0px #184d54, 4px 4px 0px #1c6163, 5px 5px 0px #217572, 6px 6px 0px #258980, 7px 7px 0px #2a9d8f;
}
body .App .homepage .herobanner .content .buttons {
  display: flex;
  margin-top: 12px;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}
body .App .homepage .herobanner .content .buttons .outline-btn {
  font-size: 1.4rem;
}
body .App .homepage .leaderboard-container {
  background: var(--main-bg);
  padding: 30px 60px;
}
body .App .homepage .leaderboard-container .loading-leaderboard-wrapper {
  display: flex;
  align-items: center;
}
body .App .homepage .leaderboard-container .loading-leaderboard-wrapper div {
  align-items: center;
  border: 4px solid #2a9d8f;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  position: relative;
  display: flex;
  height: 130px;
  width: 130px;
  margin: 0 auto;
}
body .App .homepage .leaderboard-container .loading-leaderboard-wrapper svg {
  margin: 0 auto;
  overflow: hidden;
  width: 80%;
  height: 60%;
}
body .App .homepage .leaderboard-container .loading-leaderboard-wrapper #wave {
  stroke: var(--color-mainGreen);
  stroke-dasharray: 0 16 101 16;
  animation: moveTheWave 2600ms linear infinite;
}
@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }
}
body .App .homepage .leaderboard-container .header {
  text-align: center;
  color: var(--bold-color);
  padding: 10px 0;
  font-size: 2.2rem;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 8px;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper {
  background: var(--bg);
  border-radius: 6px;
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  place-items: center;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper .number {
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--bold-color);
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper.gold {
  background: #66552b;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper.gold .number {
  color: gold;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper.silver {
  background: #4d4d4d;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper.silver .number {
  color: silver;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper.bronze {
  background: rgba(177, 113, 18, 0.29);
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper.bronze .number {
  color: #df8c11;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper .image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 10px 0 14px;
  background-size: cover;
  background-position: center;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper .text-field {
  font-size: 1.4rem;
  font-weight: 700;
  width: 100%;
  color: var(--bold-color);
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper .text-field .stats {
  font-size: 1rem;
  font-weight: 300;
}
body .App .form {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto 1fr;
  background: var(--main-bg);
  background-color: green;
}
body .App .form .question {
  overflow-y: scroll;
  height: 100%;
  width: 510px;
  max-width: 55vw;
  min-width: 22vw;
  background-color: var(--bg);
  color: var(--text-color);
  padding: 12px 20px;
}
body .App .form .question .content {
  padding-top: 10px;
  max-width: 1000px;
}
body .App .form .question .content .content-subpart {
  margin: 5px 0 13px 0;
}
body .App .form .question .content .content-subpart .bold {
  font-size: 1.1rem;
  font-weight: 900;
  padding-bottom: 2px;
  color: var(--bold-color);
}
body .App .form .question .content .content-subpart p {
  color: var(--paragraph-color);
  font-weight: 300;
  line-height: 1.75;
}
body .App .form .question .content .content-subpart p span.variable {
  margin: 0 2px;
  color: var(--bold-color);
  font-weight: 400;
  font-size: 0.96rem;
  font-family: "Roboto Slab", serif;
}
body .App .form .question .content .content-subpart p .bulletpoint,
body .App .form .question .content .content-subpart p .bulletpoint {
  padding: 4px 0;
}
body .App .form .question .content .content-subpart p .bulletpoint::before,
body .App .form .question .content .content-subpart p .bulletpoint::before {
  content: "";
  display: inline-block;
  height: 8px;
  padding-inline: 4px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 8px;
  background: var(--bold-color);
}
body .App .form .question .content .content-subpart p .bulletpoint .numberlist,
body .App .form .question .content .content-subpart p .bulletpoint .numberlist {
  padding: 5px 0 5px 35px;
}
body .App .form .question .content .content-subpart .numberlist {
  list-style: decimal;
}
body .App .form .question .content .content-subpart .numberlist li::before {
  content: none;
}
body .App .form .question .content .content-subpart .inputs {
  padding: 17px;
  max-width: 550px;
  margin: 15px 0px;
  background: var(--inputs-bg);
  color: var(--inputs-color);
  font-size: 0.85rem;
}
body .App .form .question .content .content-subpart .inputs div {
  margin: 5px 0;
  word-wrap: break-word;
  white-space: pre;
}
body .App .form .question .content .content-subpart .inputs div.short-line-height {
  line-height: 0.8;
}
body .App .form .question .header {
  padding: 7px 0;
  border-bottom: solid 1px var(--paragraph-color);
}
body .App .form .question .header .title {
  font-weight: 600;
  font-size: 1.55rem;
  color: var(--text-color);
  margin-bottom: 10px;
}
body .App .form .question .header .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
body .App .form .question .header .info .info-div {
  margin-right: 13px;
  padding: 2px 0;
  font-weight: 300;
  font-size: 0.76rem;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: color 220ms;
  color: var(--text-color);
}
body .App .form .question .header .info .info-div:hover {
  color: var(--hover-color);
}
body .App .form .question .header .info .info-div svg {
  width: 15px;
  height: 15px;
  margin-right: 6px;
  color: inherit;
}
body .App .form .question .header .info .info-div svg:hover {
  fill: var(--hover-color);
}
body .App .form .question .header .info .info-div.easy {
  color: #55b45a;
}
body .App .form .question .header .info .info-div.medium {
  color: orange;
}
body .App .form .question .header .info .info-div.hard {
  color: red;
}
body .App .form ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
}
body .App .form ::-webkit-scrollbar-thumb {
  display: none;
}
body .App .form .resizebar {
  cursor: ew-resize;
  display: grid;
  place-items: center;
  width: 12px;
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--resize-bg);
}
body .App .form .resizebar .dots {
  height: 50px;
  max-height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body .App .form .resizebar .dots span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--dots-color);
}
body .prompUserContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 200000;
  background-color: rgba(0, 0, 0, 0.58);
  display: grid;
  place-items: center;
}
body .prompUserContainer .content {
  width: 400px;
  height: 300px;
  padding: 15px;
  background-color: var(--bg);
  border-radius: 15px;
  position: relative;
}
body .prompUserContainer .content h2 {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  font-weight: 700;
}
body .prompUserContainer .content h2 a {
  color: var(--color-mainGreen);
}
body .prompUserContainer .content h2 a:hover {
  text-decoration: underline;
}
body .prompUserContainer .content .logoContainer {
  width: 200px;
  margin: 10px auto;
}
body .prompUserContainer .content .exContainer {
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 8px;
  top: 15px;
  right: 15px;
  background-color: var(--bg);
}
body .prompUserContainer .content .exContainer span {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center center;
  display: block;
}
body .prompUserContainer .content .exContainer span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
body .prompUserContainer .content .exContainer:hover {
  cursor: pointer;
  opacity: 0.62;
}
body a {
  color: var(--bold-color);
  text-decoration: none;
  outline: none;
  text-decoration-color: inherit;
}
body a:active, body a:focus {
  text-decoration: underline;
}

/*# sourceMappingURL=global.css.map */
