// import math package
@use 'sass:math';

// variables
$fontFamily-paragraph: 'Open Sans', Arial, Helvetica, sans-serif;
$fontFamily-variable: 'Roboto Slab', serif;
$fontFamily-base: 'Roboto Mono', monospace;

$fontSize-header: 1.55rem;
$fontSize-bold: 1.1rem;
$fontSize-variable: 0.86rem;
$fontSize-inputs: 0.92rem;
$fontSize-paragraph: 0.9rem;
$fontSize-mini: 0.76rem;

$transition-speed: 220ms;

$fontWeight-bold: 600;

$color-green: #2a9d8f;
$color-lightOrange: #e9c46a;
$color-darkOrange: #f4a261;
$color-darkBlue: #0a1128;
$color-fail: #d11534;
$color-easy: #55b45a;
$color-medium: orange;
$color-hard: red;

@mixin wide-screen {
    @media (min-width: 1550px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 350px) {
        @content;
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: $fontFamily-base;
    box-sizing: border-box;
}

p {
    font-size: $fontSize-paragraph;
}

:root {
    --bg: #21252b;
    --main-bg: #282c34;
    --files-bg: #1d2024;
    --inputs-bg: #141618;
    --resize-bg: #161516;
    --dots-color: #eeeeee;
    --bold-color: #d4e4f9;
    --text-color: #ffffff;
    --hover-color: #ffffffbd;
    --inputs-color: #d4e4f9;
    --paragraph-color: #8a9bba;
}

body {
    background-color: var(--main-bg);
    scroll-behavior: smooth;

    .App {
        overflow: hidden;
        & .flex-1-1-auto {
            flex: 1 1 auto;
        }
        & .outline-btn {
            font-size: 1.25rem;
            display: inline;
            padding: 8px 24px;
            $outlinePrefix: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid $outlinePrefix $color-green;
            outline: solid $outlinePrefix $color-green;
            outline-offset: -1 * $outlinePrefix;
            color: var(--bold-color);
            font-weight: 300;
            transition: outline-offset 170ms;
            cursor: pointer;

            &:hover {
                outline-offset: 2 * $outlinePrefix;
            }
        }
        // import all the style sheets for the components
        @import './components/homepage/homepage';
        @import './components/editor/editor.scss';
        @import './components/compiler/compiler.scss';
        // @import './components/css-arena/cssdashboard';
        // @import './components/icons/logoicon';
        // @import './components/registration/registration.scss';
        // @import './components/classes/classes.scss';
        @import './components/algorithms/algorithms';
        // @import './components/problemspage/problems';
        // @import './components/navbar/navbar';
        // @import './components/404page/page404';
    }

    & .prompUserContainer {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 200000;
        background-color: rgba(0, 0, 0, 0.58);
        display: grid;
        place-items: center;

        & .content {
            width: 400px;
            height: 300px;
            padding: 15px;
            background-color: var(--bg);
            border-radius: 15px;
            position: relative;

            & h2 {
                font-size: 1.2rem;
                text-align: center;
                color: white;
                font-weight: 700;

                & a {
                    color: var(--color-mainGreen);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            & .logoContainer {
                width: 200px;
                margin: 10px auto;
            }

            & .exContainer {
                width: 28px;
                height: 28px;
                position: absolute;
                border-radius: 8px;
                top: 15px;
                right: 15px;
                background-color: var(--bg);

                // creating the "X"
                & span {
                    background-color: white;
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                    transform-origin: center center;
                    display: block;

                    &:nth-child(1) {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                }

                &:hover {
                    cursor: pointer;
                    opacity: 0.62;
                }
            }
        }
    }

    // resetting for route links
    & a {
        color: var(--bold-color);
        text-decoration: none;
        outline: none;
        text-decoration-color: inherit;

        &:active,
        &:focus {
            text-decoration: underline;
        }
    }
}
