@mixin wide-screen {
    @media (min-width: 1550px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 350px) {
        @content;
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    @include wide-screen() {
        font-size: 100%;
    }
    @include mobile() {
        font-size: 100%;
    }
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

//  sass --watch src/global.scss:src/global.css
body {
    @import './components/form';
}
