@mixin wide-screen {
    @media (min-width: 1550px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 350px) {
        @content;
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    @include wide-screen() {
        font-size: 100%;
    }
    @include mobile() {
        font-size: 100%;
    }
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

//  sass --watch src/global.scss:src/global.css
body {
    .comp-nav {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    // resetting for route links
    & a {
        color: var(--resize-bg);
        text-decoration: none;
    }

    --color-success: #1ba94c;
    --color-fail: #d11534;
    --main-bg: #282c34;
    --resize-bg: rgb(22, 21, 22);
    --dots-color: rgb(255, 255, 255);
    --bg: #21252b;
    --text-color: white;
    --hover-color: rgb(207, 207, 207);
    --bold-fontsize: 1.02rem;
    --bold-color: #d4e4f9;
    --mini-fontsize: 0.72rem;
    --header-fontsize: 1.5rem;
    --transition-speed: 200ms;
    --bold: 600;
    --font-family: 'Roboto Mono', monospace;
    --paraghrap-fontsize: 0.8rem;
    --paraghrap-color: #8a9bba;
    --paraghrap-fontfamily: 'Open Sans', Arial, Helvetica, sans-serif;
    --varible-fontfamily: 'Roboto Slab', serif;
    --variable-fontsize: 0.91rem;
    --inputs-fontsize: 0.85rem;
    --inputs-color: #d4e4f9;
    --inputs-bg: #141618;
    --files-bg: #21252b;
    @import './components/form';
    @import './components/problemspage/problems';
    @import './components/navbar/navbar';
}
