*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  --main-bg: #282c34;
  --paraghrap-fontfamily: "Open Sans", Arial, Helvetica, sans-serif;
  --varible-fontfamily: "Roboto Slab", serif;
  --color-mainGreen: #2a9d8f;
  --color-lightOrange: #e9c46a;
  --color-darkOrange: #f4a261;
  --color-darkBlue: #0a1128;
  --color-fail: #d11534;
  --bold-fontsize: 1.06rem;
  --mini-fontsize: 0.76rem;
  --header-fontsize: 1.55rem;
  --transition-speed: 200ms;
  --font-family: "Roboto Mono", monospace;
  --bold: 600;
  --paragraph-fontsize: 0.8rem;
  --variable-fontsize: 0.91rem;
  --inputs-fontsize: 0.85rem;
  min-width: 1100px;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--main-bg);
}
body .App {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-height: 100vh !important;
  display: flex;
  flex-flow: column;
  background-color: var(--main-bg);
}
body .App.dark {
  --main-bg: #282c34;
  --resize-bg: #161516;
  --dots-color: #ffffff;
  --bg: #21252b;
  --text-color: #ffffff;
  --hover-color: #ffffffbd;
  --bold-color: #d4e4f9;
  --paragraph-color: #8a9bba;
  --inputs-color: #d4e4f9;
  --inputs-bg: #141618;
  --files-bg: #21252b;
}
body .App.light {
  --main-bg: #e7f1f1;
  --resize-bg: #a7a8a8;
  --dots-color: #525252;
  --bg: #ffffff;
  --text-color: #414c52;
  --hover-color: #596266;
  --bold-color: #0e141e;
  --paragraph-color: #576871;
  --inputs-color: #040a1d;
  --inputs-bg: #e8eaea;
  --files-bg: #e7eeef;
}
body .App .flex-1-1-auto {
  flex: 1 1 auto;
}
body .App .outline-btn {
  font-size: 1.25rem;
  display: inline;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px var(--color-mainGreen);
  outline: solid 2px var(--color-mainGreen);
  outline-offset: -2px;
  color: var(--bold-color);
  font-weight: 300;
  transition: outline-offset 170ms;
  cursor: pointer;
}
body .App .outline-btn:hover {
  outline-offset: 4px;
}
body .App .cssdashboard .cssarena {
  display: grid;
  height: calc(100vh - 94px);
  min-height: 500px;
  position: relative;
  margin: 0;
  grid-template-columns: 1fr auto auto;
  background-color: var(--bg);
  font-family: var(--font-family);
  overflow-y: hidden;
}
body .App .cssdashboard .cssarena .editor {
  height: 100%;
  max-height: 100%;
  position: relative;
  top: 0px;
  background-color: var(--main-bg);
  overflow-y: hidden;
}
body .App .cssdashboard .cssarena .editor .editors-container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
}
body .App .cssdashboard .cssarena .editor .editors-container .editor-resizebar {
  width: 100%;
  cursor: row-resize;
  height: 20px;
  z-index: 11;
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--resize-bg);
}
body .App .cssdashboard .cssarena .editor .editors-container .editor-resizebar .dots-container {
  width: 70px;
  height: 4px;
  background-color: white;
}
body .App .cssdashboard .cssarena .editor .editors-container .editor-fraction {
  width: 100%;
  height: 100%;
  background: linear-gradient(195deg, #03952f, purple);
}
body .App .cssdashboard .cssarena .editor .editors-container .editor-fraction:nth-child(1) {
  height: 250px;
}
body .App .cssdashboard .cssarena .editor .editors-container .editor-fraction .editor-component {
  height: 100%;
  min-height: 40px;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--main-bg);
  z-index: 10;
}
body .App .cssdashboard .cssarena .editor .editors-container .editor-fraction .editor-component .header {
  height: 40px;
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 400;
  padding-left: 20px;
  color: var(--bold-color);
  display: flex;
  align-items: center;
}
body .App .cssdashboard .cssarena .editor .editors-container section {
  position: relative !important;
}
body .App .cssdashboard .cssarena .column-header {
  width: 100%;
  padding: 13px 15px;
  font-size: 1.1rem;
  background-color: var(--bg);
  color: var(--bold-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .App .cssdashboard .cssarena .column-header span {
  position: relative;
  color: var(--hover-color);
}
body .App .cssdashboard .cssarena .column-container {
  border-left: solid 1px var(--hover-color);
  border-collapse: collapse;
  padding: 0 15px;
  width: 430px;
  height: 100%;
  position: relative;
}
body .App .cssdashboard .cssarena .column-container .column-header {
  padding-left: 0;
  padding-right: 0;
}
body .App .cssdashboard .cssarena .column-container .submit-wrapper {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
body .App .cssdashboard .cssarena .column-container .submit-wrapper .submit-btn {
  cursor: pointer;
  padding: 5px 14px;
  background-color: var(--color-mainGreen);
  border-radius: 14px;
  font-size: 0.95rem;
  color: var(--hover-color);
  display: flex;
  align-items: center;
}
body .App .cssdashboard .cssarena .column-container .submit-wrapper .submit-btn:disabled {
  opacity: 0.65;
  cursor: progress;
  /* Spinner Circle Rotation */
}
body .App .cssdashboard .cssarena .column-container .submit-wrapper .submit-btn:disabled span {
  border: 3px var(--color-darkOrange) solid;
  border-top: 3px var(--color-darkBlue) solid;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  -webkit-animation: spCircRot 0.8s infinite linear;
  animation: spCircRot 0.8s infinite linear;
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
body .App .cssdashboard .cssarena .column-container .userScoreBoard-wrapper {
  background-color: var(--resize-bg);
  border-radius: 12px;
  padding: 10px;
}
body .App .cssdashboard .cssarena .column-container .userScoreBoard-wrapper .scoreBoard-row {
  color: var(--paragraph-color);
  margin: 15px 0;
  font-weight: 300;
  font-size: 1rem;
}
body .App .cssdashboard .cssarena .column-container .userScoreBoard-wrapper .scoreBoard-row span {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--bold-color);
}
body .App .cssdashboard .cssarena .column-container .img-container {
  width: 400px;
  height: 300px;
  background-position: center;
  background-size: cover;
}
body .App .cssdashboard .cssarena .column-container .img-container.output-iframe {
  overflow: hidden !important;
}
body .App .cssdashboard .cssarena .column-container .img-container.output-iframe .iframe-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .App .cssdashboard .cssarena .column-container .img-container.output-iframe .iframe-container iframe {
  background-color: white;
  width: 400px;
  height: 300px;
  border: 0;
  outline: 0;
  margin: 0;
  overflow: hidden;
  pointer-events: none;
}
body .App .cssdashboard .cssarena .column-container .img-container.output-iframe .iframe-container iframe html {
  margin: 0px !important;
}
body .App .cssdashboard .cssarena .column-container .img-container.output-iframe.output-iframe:hover {
  cursor: col-resize;
}
body .App .cssdashboard .cssarena .column-container .img-container.output-iframe.output-iframe:hover .iframe-container {
  border-right: solid 2px red;
}
body .App .cssdashboard .cssarena .column-container .colors-container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--resize-bg);
  padding: 5px 2px;
  width: 400px;
  margin: 17px auto;
  border-radius: 8px;
}
body .App .cssdashboard .cssarena .column-container .colors-container span {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 15px;
  height: auto;
  font-size: 1.05rem;
  color: var(--hover-color);
}
body .App .cssdashboard .cssarena .column-container .colors-container span:active {
  text-decoration: underline;
}
body .App .cssdashboard .cssarena .column-container .colors-container span .color-circle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: solid 1px rgba(255, 255, 255, 0.4);
  margin-right: 6px;
  font-size: 0px;
  color: transparent;
}
body .App .cssdashboard .cssarena .popup-container {
  position: absolute;
  bottom: 10px;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, calc(100% + 10px));
  padding: 8px 15px;
  font-size: 1.2rem;
  border: solid 1px rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  color: var(--hover-color);
  background-color: var(--resize-bg);
  display: flex;
  align-items: center;
  transition: transform 360ms;
}
body .App .cssdashboard .cssarena .popup-container.show {
  transform: translate(-50%, 0%);
  transition: transform 360ms;
}
body .App .cssdashboard .cssarena .popup-container .color-circle {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: solid 1px rgba(255, 255, 255, 0.4);
  margin-left: 8px;
  font-size: 0px;
  color: transparent;
}
body .App .cssdashboard .cssproblems {
  min-height: 700px;
  background: var(--resize-bg);
  padding: 25px 50px;
  font-family: var(--font-family);
}
body .App .cssdashboard .cssproblems .container {
  background-color: var(--main-bg);
  display: grid;
  grid-template-columns: repeat(auto-fit, 336px);
  gap: 20px;
  padding: 15px;
}
body .App .cssdashboard .cssproblems .container .problem-wrapper .problem {
  cursor: pointer;
  width: 336px;
  height: 252px;
  position: relative;
  background-position: center;
  background-size: cover;
}
body .App .cssdashboard .cssproblems .container .problem-wrapper .problem h2 {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.1rem;
  background-color: black;
  color: white;
  text-align: center;
  padding: 2px 15px;
  border-radius: 12px;
}
body .App .cssdashboard .cssproblems .container .problem-wrapper .problem-metadata {
  background-color: var(--resize-bg);
  display: flex;
  justify-content: space-evenly;
  padding: 8px 4px;
}
body .App .logo-icon {
  width: 100%;
  padding-bottom: 100%;
  display: grid;
  place-items: center;
  position: relative;
  box-sizing: border-box;
}
body .App .logo-icon .circle-line {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left-color: var(--color-mainGreen);
  border-right-color: var(--color-mainGreen);
}
body .App .logo-icon .circle-line:nth-child(1) {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}
body .App .logo-icon .circle-line:nth-child(2) {
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
}
body .App .logo-icon .circle-line:nth-child(3) {
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}
body .App .logo-icon .circle-line:nth-child(4) {
  left: 30%;
  top: 30%;
  width: 40%;
  height: 40%;
  border-color: var(--color-mainGreen);
}
body .App .logo-icon .circle-line:nth-child(5) {
  left: 40%;
  top: 40%;
  width: 20%;
  height: 20%;
  border-color: var(--color-mainGreen);
  left: 40%;
  top: 40%;
  width: 20%;
  height: 20%;
  background-color: var(--color-mainGreen);
}
body .App .logo-icon.spin .circle-line:nth-child(1) {
  animation: ani-60 1800ms 1;
}
@keyframes ani-60 {
  0% {
    transform: rotate(-120deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body .App .logo-icon.spin .circle-line:nth-child(2) {
  animation: ani-120 1800ms 1;
}
@keyframes ani-120 {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body .App .logo-icon.spin .circle-line:nth-child(3) {
  animation: ani-180 1800ms 1;
}
@keyframes ani-180 {
  0% {
    transform: rotate(-240deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body .App .logo-icon.spin .circle-line:nth-child(4) {
  animation: ani-240 1800ms 1;
}
@keyframes ani-240 {
  0% {
    transform: rotate(-300deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body .App .logo-icon.spin.loader .circle-line:nth-child(1) {
  animation: ani-72 3300ms infinite;
}
@keyframes ani-72 {
  0% {
    transform: rotate(-144deg);
  }
  50% {
    transform: rotate(144deg);
  }
  100% {
    transform: rotate(-144deg);
  }
}
body .App .logo-icon.spin.loader .circle-line:nth-child(2) {
  animation: ani-144 3300ms infinite;
}
@keyframes ani-144 {
  0% {
    transform: rotate(-216deg);
  }
  50% {
    transform: rotate(216deg);
  }
  100% {
    transform: rotate(-216deg);
  }
}
body .App .logo-icon.spin.loader .circle-line:nth-child(3) {
  animation: ani-216 3300ms infinite;
}
@keyframes ani-216 {
  0% {
    transform: rotate(-288deg);
  }
  50% {
    transform: rotate(288deg);
  }
  100% {
    transform: rotate(-288deg);
  }
}
body .App .logo-icon.spin.loader .circle-line:nth-child(4) {
  animation: ani-288 3300ms infinite;
}
@keyframes ani-288 {
  0% {
    transform: rotate(-360deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
body .App .signup-container {
  height: calc(100vh - 94px);
  min-height: 630px;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  color: white;
  overflow: hidden;
}
body .App .signup-container .card {
  width: 480px;
  height: 610px;
  background-color: #264653;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
body .App .signup-container .card .blobs-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
body .App .signup-container .card .blobs-container.loading .blob {
  animation: fadeInBlob 1400ms ease infinite alternate-reverse;
}
body .App .signup-container .card .blobs-container .blob {
  position: absolute;
  fill: var(--color-success);
  transform: rotate(80deg);
  animation: fadeInBlob 1500ms ease;
}
body .App .signup-container .card .blobs-container .blob.b1 {
  right: calc(1 * -10px - 55px);
  bottom: calc(1 * -10px - 55px);
  width: calc((1 * 30px) + 220px);
  height: calc((1 * 30px) + 220px);
  animation-delay: calc((3 - 1) * 100ms);
  fill: #2a9d8f;
  z-index: 3;
}
body .App .signup-container .card .blobs-container .blob.b2 {
  right: calc(2 * -10px - 55px);
  bottom: calc(2 * -10px - 55px);
  width: calc((2 * 30px) + 220px);
  height: calc((2 * 30px) + 220px);
  animation-delay: calc((3 - 2) * 100ms);
  fill: #e9c46a;
  z-index: 2;
}
body .App .signup-container .card .blobs-container .blob.b3 {
  right: calc(3 * -10px - 55px);
  bottom: calc(3 * -10px - 55px);
  width: calc((3 * 30px) + 220px);
  height: calc((3 * 30px) + 220px);
  animation-delay: calc((3 - 3) * 100ms);
  fill: #f4a261;
  z-index: 1;
}
@keyframes fadeInBlob {
  0% {
    transform: rotate(80deg);
  }
  25% {
    transform: rotate(80deg) scale(0.55) translate(-30px, 10px);
  }
  50% {
    transform: rotate(80deg) scale(1) translate(0px, 0px);
  }
  75% {
    transform: rotate(80deg) scale(0.55) translate(-30px, 10px);
  }
  100% {
    transform: rotate(80deg);
  }
}
body .App .signup-container .card .content {
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  position: relative;
  z-index: 3;
}
body .App .signup-container .card .content a {
  text-decoration: underline;
  color: #f4a261;
}
body .App .signup-container .card .content .title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
body .App .signup-container .card .content .subtitle {
  font-size: 0.9rem;
  padding: 8px 0;
  font-weight: 300;
  text-align: center;
  position: relative;
}
body .App .signup-container .card .content .subtitle a {
  color: #f4a261;
  font-weight: 500;
}
body .App .signup-container .card .content .outline-btn {
  margin: 18px 0;
  color: white;
}
body .App .signup-container .card .content .userMessage {
  width: 100%;
  padding: 12px 16px;
  border: solid 1px transparent;
  border-radius: 6px;
  margin: 8px 0;
  font-size: 0.95rem;
}
body .App .signup-container .card .content .userMessage.error {
  color: #721c24;
  background: #f8d7da;
  border-color: #f5c6cb;
}
body .App .signup-container .card .content .userMessage.success {
  color: #155724;
  background: #d4edda;
  border-color: #c3e6cb;
}
body .App .signup-container .card .content .content-box {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 10px;
  margin: 20px 0;
}
body .App .signup-container .card .content .content-box .profileImage-container .image {
  width: 80%;
  padding-bottom: 80%;
  border-radius: 50%;
  margin: 8px auto 8px auto;
  background-color: blueviolet;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body .App .signup-container .card .content .content-box .profileImage-container .text {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
body .App .signup-container .card .content .avatars-container {
  padding: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, 48px);
  justify-content: center;
  column-gap: 5px;
  row-gap: 5px;
  border-radius: 8px;
}
body .App .signup-container .card .content .avatars-container .avatar-circle {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  position: relative;
}
body .App .signup-container .card .content .avatars-container .avatar-circle::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #f4a261;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 400ms;
}
body .App .signup-container .card .content .avatars-container .avatar-circle.chosen::before {
  width: 80%;
  animation: chosenExpand 400ms;
}
@keyframes chosenExpand {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
body .App .signup-container .card .content .input-btn {
  width: 100%;
  padding: 8px 14px;
  color: black;
  outline: none;
  border-radius: inherit;
}
body .App .signup-container .card .content .input-container {
  width: 100%;
  border-radius: 6px;
  position: relative;
  margin: 12px 0px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  background: white;
}
body .App .signup-container .card .content .input-container .password-visibility-toggler {
  width: 50px;
  cursor: pointer;
  display: grid;
  place-items: center;
  background: #f4a261;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
body .App .signup-container .card .content .input-container .password-visibility-toggler svg {
  fill: var(--color-success);
  height: 30px;
  width: 30px;
}
body .App .homepage {
  background: var(--bg);
  font-family: var(--font-family);
  position: relative;
}
body .App .homepage .herobanner {
  min-height: 550px;
  position: relative;
  display: grid;
  place-content: center;
}
body .App .homepage .herobanner .blobs-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
body .App .homepage .herobanner .blobs-container.loading .blob {
  animation: fadeInBlob 1400ms ease infinite alternate-reverse;
}
body .App .homepage .herobanner .blobs-container .blob {
  position: absolute;
  fill: var(--color-success);
  transform: rotate(80deg);
  animation: fadeInBlob 1500ms ease;
}
body .App .homepage .herobanner .blobs-container .blob.b1 {
  right: calc(1 * -10px - 50px);
  bottom: calc(1 * -10px - 55px);
  width: calc((1 * 30px) + 200px);
  height: calc((1 * 30px) + 200px);
  animation-delay: calc((3 - 1) * 100ms);
  fill: var(--color-mainGreen);
  z-index: 3;
}
body .App .homepage .herobanner .blobs-container .blob.b2 {
  right: calc(2 * -10px - 50px);
  bottom: calc(2 * -10px - 55px);
  width: calc((2 * 30px) + 200px);
  height: calc((2 * 30px) + 200px);
  animation-delay: calc((3 - 2) * 100ms);
  fill: var(--color-lightOrange);
  z-index: 2;
}
body .App .homepage .herobanner .blobs-container .blob.b3 {
  right: calc(3 * -10px - 50px);
  bottom: calc(3 * -10px - 55px);
  width: calc((3 * 30px) + 200px);
  height: calc((3 * 30px) + 200px);
  animation-delay: calc((3 - 3) * 100ms);
  fill: var(--color-darkOrange);
  z-index: 1;
}
@keyframes fadeInBlob {
  0% {
    transform: rotate(80deg);
  }
  25% {
    transform: rotate(80deg) scale(0.55) translate(-30px, 10px);
  }
  50% {
    transform: rotate(80deg) scale(1) translate(0px, 0px);
  }
  75% {
    transform: rotate(80deg) scale(0.55) translate(-30px, 10px);
  }
  100% {
    transform: rotate(80deg);
  }
}
body .App .homepage .herobanner .content {
  position: relative;
  z-index: 2;
}
body .App .homepage .herobanner .content h1 {
  font-weight: 900;
  font-size: 8rem;
  color: #2a9d8f;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
  text-shadow: 0px 0px 0px #2a9d8f, 1px 1px 0px #479e88, 2px 2px 0px #649e82, 3px 3px 0px #819f7b, 4px 4px 0px #9da075, 5px 5px 0px #baa16e, 6px 6px 0px #d7a168, 7px 7px 0px #f4a261;
}
body .App .homepage .herobanner .content .buttons {
  display: flex;
  margin-top: 12px;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}
body .App .homepage .herobanner .content .buttons .outline-btn {
  font-size: 1.4rem;
}
body .App .homepage .leaderboard-container {
  background: var(--main-bg);
  padding: 30px 60px;
}
body .App .homepage .leaderboard-container .loading-leaderboard-wrapper {
  display: flex;
  align-items: center;
}
body .App .homepage .leaderboard-container .loading-leaderboard-wrapper div {
  align-items: center;
  border: 4px solid var(--color-mainGreen);
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  position: relative;
  display: flex;
  height: 130px;
  width: 130px;
  margin: 0 auto;
}
body .App .homepage .leaderboard-container .loading-leaderboard-wrapper svg {
  margin: 0 auto;
  overflow: hidden;
  width: 80%;
  height: 60%;
}
body .App .homepage .leaderboard-container .loading-leaderboard-wrapper #wave {
  stroke: var(--color-mainGreen);
  stroke-dasharray: 0 16 101 16;
  animation: moveTheWave 2600ms linear infinite;
}
@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }
}
body .App .homepage .leaderboard-container .header {
  text-align: center;
  color: var(--bold-color);
  padding: 10px 0;
  font-size: 2.2rem;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 8px;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper {
  background: var(--bg);
  border-radius: 6px;
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  place-items: center;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper .number {
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--bold-color);
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper.gold {
  background: #66552b;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper.gold .number {
  color: gold;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper.silver {
  background: #4d4d4d;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper.silver .number {
  color: silver;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper.bronze {
  background: rgba(177, 113, 18, 0.29);
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper.bronze .number {
  color: #df8c11;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper .image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 10px 0 14px;
  background-size: cover;
  background-position: center;
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper .text-field {
  font-size: 1.4rem;
  font-weight: 700;
  width: 100%;
  color: var(--bold-color);
}
body .App .homepage .leaderboard-container .leaderboard-wrapper .row-wrapper .text-field .stats {
  font-size: 1rem;
  font-weight: 300;
}
body .App .form {
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto 1fr;
  height: calc(100vh - 94px);
  background: var(--main-bg);
}
body .App .form .editorial {
  overflow-y: scroll;
  height: 100%;
  background: var(--main-bg);
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto auto;
}
body .App .form .editorial .editor {
  width: 100%;
  height: 100%;
}
body .App .form .editorial .editor .editor-component {
  height: 100%;
  min-height: 40px;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--main-bg);
  z-index: 10;
}
body .App .form .editorial .editor .editor-component .header {
  height: 40px;
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 400;
  padding-left: 20px;
  color: var(--bold-color);
  display: flex;
  align-items: center;
}
body .App .form .editorial .editor .files {
  display: flex;
  justify-content: flex-start;
  background: var(--files-bg);
}
body .App .form .editorial .editor .files .file-btn {
  cursor: pointer;
  padding: 9px 15px;
  background: var(--files-bg);
  border: 0;
  border-left: solid 0px #3d3d3d;
  border-right: solid 1px #3d3d3d;
  border-collapse: collapse;
  outline: none;
  font-size: 0.95rem;
  color: var(--text-color);
  font-weight: 400;
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
body .App .form .editorial .editor .files .file-btn .icon {
  width: 18px;
  height: 18px;
  background-size: cover;
  margin-right: 7px;
  background-position: center;
}
body .App .form .editorial .editor .files .file-btn .icon svg {
  width: 100%;
  height: 100%;
}
body .App .form .editorial .editor .files .file-btn:disabled {
  background: orange;
  background: #282c34;
}
body .App .form .editorial .submit {
  padding: 17px 12px;
  display: flex;
  position: relative;
  justify-content: flex-end;
  background: var(--inputs-bg);
  font-family: var(--font-family);
  z-index: 100;
}
body .App .form .editorial .submit button {
  cursor: pointer;
  padding: 10px 16px;
  margin: 6px;
  border-radius: 4px;
  background: transparent;
  font-size: 1rem;
}
body .App .form .editorial .submit button.testrun-btn {
  border: solid 1px var(--color-mainGreen);
  color: var(--color-mainGreen);
}
body .App .form .editorial .submit button.submit-btn {
  background: var(--color-mainGreen);
  color: var(--bold-color);
}
body .App .form .editorial .submit button.submit-btn:disabled, body .App .form .editorial .submit button.testrun-btn:disabled {
  opacity: 0.8;
}
body .App .form .editorial .submit button:active, body .App .form .editorial .submit button:hover {
  outline: none;
}
body .App .form .editorial .CodeCompileView-wrapper {
  position: relative;
}
body .App .form .editorial .CodeCompileView-wrapper .loadingspinner-wrapper-for-codecompile {
  padding: 10px;
  margin: 90px auto;
  width: 230px;
  height: 230px;
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview {
  background: var(--inputs-bg);
  position: relative;
  font-family: var(--font-family);
  color: var(--paragraph-color);
  font-weight: 500;
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .title {
  background: var(--bg);
  font-size: 2rem;
  font-weight: 300;
  padding: 3px 22px 8px 22px;
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .title.red {
  color: var(--color-fail);
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .title.green {
  color: var(--color-mainGreen);
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview p {
  padding: 10px 22px;
  font-size: var(--paraghrap-fontsize);
  font-weight: 600;
  color: var(--paragraph-color);
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  background: var(--main-bg);
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-list ul {
  list-style: none;
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-list ul li {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 13px 22px;
  font-weight: 300;
  background: var(--main-bg);
  display: flex;
  align-items: center;
  line-height: 30px;
}
@media (min-width: 1550px) {
  body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-list ul li {
    font-size: 1.5rem;
  }
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-list ul li svg {
  margin-right: 3px;
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-list ul li.red {
  color: var(--color-fail);
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-list ul li.green {
  color: var(--color-mainGreen);
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-list ul li.highlight {
  background: var(--bg);
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-content {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: var(--bg);
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-content .subpart {
  margin-bottom: 22px;
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-content .subpart h4 {
  font-size: 1.05rem;
  font-weight: 400;
  color: var(--paragraph-color);
}
@media (min-width: 1550px) {
  body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-content .subpart h4 {
    font-size: 1.13rem;
  }
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-content .subpart .output {
  padding: 12px 15px;
  margin-top: 7px;
  background: var(--inputs-bg);
  color: var(--inputs-color);
  font-size: var(--inputs-fontsize);
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-content .subpart .output div {
  margin: 4px 0;
  word-wrap: break-word;
}
body .App .form .editorial .CodeCompileView-wrapper .codecompileview .compilecases-wrapper .case-content .subpart .output div::before {
  content: "&";
  display: inline-block;
  color: var(--bold-color);
  font-weight: 100;
  font-size: 0.65rem;
  padding-right: 6px;
  margin-right: 6px;
  border-right: 1px var(--bold-color);
  border-style: solid;
}
body .App .form .question {
  overflow-y: scroll;
  height: 100%;
  width: 510px;
  max-width: 55vw;
  min-width: 22vw;
  background-color: var(--bg);
  font-family: var(--font-family);
  color: var(--text-color);
  padding: 12px 20px;
}
body .App .form .question .content {
  padding-top: 10px;
  max-width: 1000px;
}
body .App .form .question .content .content-subpart {
  margin: 5px 0 13px 0;
}
body .App .form .question .content .content-subpart .bold {
  font-size: var(--bold-fontsize);
  font-weight: 900;
  padding-bottom: 2px;
  color: var(--bold-color);
}
body .App .form .question .content .content-subpart p {
  font-size: var(--paragraph-fontsize);
  font-family: var(--paragraph-fontfamily);
  color: var(--paragraph-color);
  font-weight: 300;
  line-height: 1.75;
}
body .App .form .question .content .content-subpart p span.variable {
  font-style: italic;
  margin: 0 2px;
  color: var(--bold-color);
  font-weight: 400;
  font-size: var(--variable-fontsize);
  font-family: var(--variable-fontfamily);
}
body .App .form .question .content .content-subpart p.bulletpoint, body .App .form .question .content .content-subpart p .bulletpoint {
  padding: 4px 0;
}
body .App .form .question .content .content-subpart p.bulletpoint::before, body .App .form .question .content .content-subpart p .bulletpoint::before {
  content: "";
  display: inline-block;
  height: 8px;
  padding-inline: 4px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 8px;
  background: var(--bold-color);
}
body .App .form .question .content .content-subpart p.bulletpoint .numberlist, body .App .form .question .content .content-subpart p .bulletpoint .numberlist {
  padding: 5px 0 5px 35px;
}
body .App .form .question .content .content-subpart .numberlist {
  list-style: decimal;
}
body .App .form .question .content .content-subpart .numberlist li::before {
  content: none;
}
body .App .form .question .content .content-subpart .inputs {
  padding: 17px;
  max-width: 550px;
  margin-top: 15px;
  background: var(--inputs-bg);
  color: var(--inputs-color);
  font-size: var(--inputs-fontsize);
}
body .App .form .question .content .content-subpart .inputs div {
  margin: 5px 0;
  word-wrap: break-word;
  white-space: pre;
}
body .App .form .question .content .content-subpart .inputs div.short-line-height {
  line-height: 0.8;
}
body .App .form .question .header {
  padding: 7px 0;
  border-bottom: solid 1px var(--paraghrap-color);
}
body .App .form .question .header .title {
  font-weight: var(--bold);
  font-size: var(--header-fontsize);
  color: var(--text-color);
  margin-bottom: 10px;
}
body .App .form .question .header .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
body .App .form .question .header .info .info-div {
  cursor: pointer;
  margin-right: 13px;
  padding: 2px 0;
  font-weight: 300;
  font-size: var(--mini-fontsize);
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: color var(--transition-speed);
  color: var(--text-color);
}
body .App .form .question .header .info .info-div:hover {
  color: var(--hover-color);
}
body .App .form .question .header .info .info-div svg {
  width: 15px;
  height: 15px;
  margin-right: 6px;
  color: inherit;
}
body .App .form .question .header .info .info-div svg:hover {
  fill: var(--hover-color);
}
body .App .form .question .header .info .info-div.easy {
  color: #55b45a;
}
body .App .form .question .header .info .info-div.medium {
  color: orange;
}
body .App .form .question .header .info .info-div.hard {
  color: red;
}
body .App .form ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
}
body .App .form ::-webkit-scrollbar-thumb {
  display: none;
}
body .App .form .loadingspinner-wrapper-for-codecompile {
  height: 400px;
  position: relative;
}
body .App .form .loadingspinner-wrapper-for-codecompile .loadingspinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
}
body .App .form .loadingspinner-wrapper-for-codecompile .loadingspinner-spinner {
  position: absolute;
  width: 140px;
  height: 140px;
  max-width: 90%;
  max-height: 90%;
  padding: 10px;
  z-index: 999;
}
body .App .form .loadingspinner-wrapper-for-codecompile .loadingspinner-spinner:hover .circle-line {
  animation-play-state: paused;
}
body .App .form .loadingspinner-wrapper-for-codecompile .loadingspinner-spinner .circle-line {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  animation: rotate180 1500ms infinite;
  border: 5px solid transparent;
  border-top-color: var(--color-fail);
}
body .App .form .loadingspinner-wrapper-for-codecompile .loadingspinner-spinner .circle-line:nth-child(1) {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  animation-delay: 0s;
}
body .App .form .loadingspinner-wrapper-for-codecompile .loadingspinner-spinner .circle-line:nth-child(2) {
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  animation-delay: 0.3s;
}
body .App .form .loadingspinner-wrapper-for-codecompile .loadingspinner-spinner .circle-line:nth-child(3) {
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  animation-delay: 0.6s;
}
body .App .form .loadingspinner-wrapper-for-codecompile .loadingspinner-spinner .circle-line:nth-child(4) {
  left: 30%;
  top: 30%;
  width: 40%;
  height: 40%;
  animation-delay: 0.9s;
}
body .App .form .loadingspinner-wrapper-for-codecompile .loadingspinner-spinner .circle-line:nth-child(5) {
  left: 40%;
  top: 40%;
  width: 20%;
  height: 20%;
  animation-delay: 1.2s;
}
@keyframes rotate180 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .App .form .resizebar {
  cursor: ew-resize;
  display: grid;
  place-items: center;
  width: 12px;
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--resize-bg);
}
body .App .form .resizebar .dots {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body .App .form .resizebar .dots span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--dots-color);
}
body .App .problems {
  background: var(--bg);
  padding: 25px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 14px;
  column-gap: 14px;
  font-family: var(--font-family);
}
body .App .problems .problemcard {
  cursor: pointer;
  background: var(--bold-color);
  min-height: 160px;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 3px var(--bold-color);
}
body .App .problems .problemcard:hover .header {
  color: var(--color-mainGreen);
}
body .App .problems .problemcard .header {
  transition: color 100ms;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 300;
  color: var(--main-bg);
}
body .App .problems .problemcard .metadata {
  color: var(--bg);
  border-top: solid 1px black;
  font-size: 0.8rem;
  margin-top: auto;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 6px 0px;
  justify-content: space-between;
}
body .App .problems .problemcard .metadata .completed,
body .App .problems .problemcard .metadata .tryAgain {
  font-size: 0.92rem;
  font-weight: 600;
}
body .App .problems .problemcard .metadata .completed {
  color: var(--color-mainGreen);
}
body .App .problems .problemcard .metadata .tryAgain {
  color: var(--color-darkOrange);
}
body .App .problems .problemcard .metadata .difficulty {
  display: inline-block;
  padding: 4px 11px;
  border-radius: 20px;
  text-transform: uppercase;
  background: var(--color-mainGreen);
}
body .App .problems .problemcard .metadata .difficulty.easy {
  background: var(--color-mainGreen);
}
body .App .problems .problemcard .metadata .difficulty.medium {
  background: orange;
}
body .App .problems .problemcard .metadata .difficulty.hard {
  background: var(--color-fail);
}
body .App .navbar {
  text-decoration: none;
  padding: 12px 55px;
  background: var(--main-bg);
  display: flex;
  flex: 0 1 auto;
  font-family: var(--font-family);
}
body .App .navbar .logo {
  cursor: pointer;
  font-size: 2.1rem;
  display: flex;
  align-items: center;
}
body .App .navbar .logo h2 {
  color: var(--bold-color);
}
body .App .navbar .logo .logo-icon-container {
  width: 70px;
  height: 70px;
  margin-left: 11px;
}
body .App .navbar-content {
  display: flex;
  place-items: center;
  margin-left: 30px;
}
body .App .navbar-content a {
  cursor: pointer;
  margin: 0 6px;
  padding: 4px 10px;
  display: inline-flex;
  place-items: center;
  color: var(--bold-color);
  font-size: 1.1rem;
  font-weight: 400;
}
body .App .navbar-content a:hover, body .App .navbar-content a:focus {
  outline: none;
  border: none;
  text-decoration: underline;
}
body .App .navbar-right {
  margin-left: auto;
  padding: 0 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body .App .navbar-right .dark-theme-toogler {
  cursor: pointer;
  width: 70px;
  height: 35px;
  padding: 3px;
  border-radius: 30px;
  margin-right: 30px;
  overflow: hidden;
  background: #111;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
body .App .navbar-right .dark-theme-toogler svg {
  width: 50%;
  color: #f1c40f;
}
body .App .navbar-right .dark-theme-toogler .theme-btn {
  position: absolute;
  z-index: 4;
  width: 46%;
  height: 92%;
  border-radius: 50%;
  background: white;
  transition: transform 400ms;
  transform: translateX(100%);
}
body .App .navbar-right .dark-theme-toogler.light .theme-btn {
  transform: translateX(0%);
}
body .App .navbar-right .account {
  padding: 5px 14px;
  display: grid;
  grid-template-columns: 1fr auto;
}
body .App .navbar-right .account .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 8px;
}
body .App .navbar-right .account .info h2 {
  font-size: 20px;
  color: var(--bold-color);
}
body .App .navbar-right .account .info p {
  font-size: 17px;
  color: var(--color-lightOrange);
}
body .App .navbar-right .account .profileImage {
  width: 57px;
  height: 57px;
  margin-left: 10px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
body .App .page404 {
  display: grid;
  place-items: center;
  height: 100px;
  font-size: 5rem;
  font-family: var(--font-family);
  background: var(--bg);
  text-align: center;
  color: transparent;
  text-shadow: 0px 0px 0px #2a9d8f, 1px 0px 0px #42a28a, 2px 0px 0px #5aa786, 3px 0px 0px #72ac81, 4px 0px 0px #8ab17d, 5px 0px 0px #a1b578, 6px 0px 0px #b9ba73, 7px 0px 0px #d1bf6f, 8px 0px 0px #e9c46a;
}
body .comp-nav {
  display: grid;
  grid-template-rows: auto 1fr;
}
body a {
  color: var(--bold-color);
  text-decoration: none;
  outline: none;
  text-decoration-color: inherit;
}
body a:active, body a:focus {
  text-decoration: underline;
}

/*# sourceMappingURL=global.css.map */
