.btn {
	min-height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	@apply px-3 text-sm rounded-lg transition-colors;
}

.primary {
	@extend .btn;
	@apply bg-theme text-white hover:bg-theme-800;
}

.white {
	@extend .btn;
	@apply bg-white text-black border border-black col-span-full hover:dark:bg-black/60;
}

.dimmed {
	@extend .btn;
	@apply hover:text-gray-800 hover:bg-gray-200 dark:hover:text-inherit dark:hover:bg-gray-700;
}

.error {
	@extend .btn;
	@apply bg-red-100 text-red-800 border border-red-800 hover:bg-red-100/90;
}

.success {
	@extend .btn;
	@apply bg-teal-100  text-teal-800 border border-teal-500 hover:brightness-95;
}

.warning {
	@extend .btn;
	@apply bg-orange-100 text-orange-700 border border-orange-500 hover:bg-orange-200;
}
