.btn {
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	@apply px-3 text-sm rounded-lg transition-colors;
}

.primary {
	@extend .btn;
	@apply bg-theme text-white;

	&:hover {
		@apply bg-theme-800;
	}
}

.white {
	@extend .btn;
	@apply bg-white text-black border border-black;
	&:hover {
		@apply bg-bgDarken;
	}
}

.dimmed {
	@extend .btn;
	@apply bg-transparent text-textDimmed;
	&:hover {
		@apply text-text bg-bgDarken;
	}
}

.error {
	@extend .btn;
	@apply bg-red-100 text-red-700 border border-red-400;
	&:hover {
		@apply bg-red-200;
	}
}

.success {
	@extend .btn;
	@apply bg-teal-100  text-teal-900 border border-teal-500;
	&:hover {
		filter: brightness(0.95);
	}
}

.warning {
	@extend .btn;
	@apply bg-orange-100 border border-orange-500 text-orange-700;
	&:hover {
		@apply bg-orange-200;
	}
}
