.classesWrapper {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 12px;
	row-gap: 12px;
	@apply md:grid-cols-2 lg:grid-cols-3;
}

.classCard {
	// min-width: 450px;
	display: flex;
	cursor: pointer;
	// --tw-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
	//     0 4px 6px -2px rgba(0, 0, 0, 0.05);
	// box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(255, 255, 255, 0)),
	//     var(--tw-ring-shadow, 0 0 rgba(255, 255, 255, 0)), var(--tw-shadow);
	@apply rounded-lg border p-4 shadow-sm;
}

.studentCard {
	font-weight: 600;
	@apply border-b border-blue-500 text-sm;
}

.image {
	height: 100%;
	aspect-ratio: 1/1;
	position: relative;
}

.glass {
	position: relative;
	z-index: 50;
	background: rgba(255, 255, 255, 0.15);
	// box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(6.5px);
	-webkit-backdrop-filter: blur(6.5px);
	// border-radius: 10px;
	// border: 1px solid rgba(255, 255, 255, 0.18);
}

.styledTable {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.chip {
	display: block;
	@apply rounded-full border border-blue-600 bg-blue-200 py-2 px-3 text-xs text-blue-600;
}

.option {
	@apply border-b-2 border-b-transparent px-3 py-2 transition-colors hover:border-b-gray-200 dark:hover:border-b-gray-700;
}

.optionActive {
	@extend .option;
	@apply border-b-theme hover:border-b-theme;
}
