.classesWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 12px;
}

.classCard {
    min-width: 450px;
    display: flex;
    border: solid 1px;
    cursor: pointer;
    @apply border-green-500 hover:border-blue-500 p-4 rounded-lg;
}

.studentCard {
    font-weight: 600;
    @apply text-sm border-b border-blue-500;
}

.styledTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styledTable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styledTable th,
.styledTable td {
    @apply py-3 px-4;
}

.styledTable tbody tr {
    border-bottom: 2px solid #009879;
}

.chip {
    @apply bg-blue-200 py-2 px-3 rounded-full text-xs border border-blue-600 text-blue-600;
}
