.classesWrapper {
    display: flex;
    flex-wrap: wrap;
    // @apply bg-yellow-500;
    gap: 10px;
}

.classCard {
    min-width: 450px;
    flex: 0.5;
    border: solid 1px;
    cursor: pointer;
    @apply bg-green-500 border-green-500 hover:border-blue-500 p-4 rounded-lg;
}

.studentCard {
    @apply bg-green-700 py-4 px-6 border-b border-blue-700 flex items-center;
}
