.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
	column-gap: 0.75rem;
	row-gap: 0.75rem;
	@apply py-2;
}

.card {
	color: white;

	@apply rounded-xl overflow-hidden;
}

.top {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 0.75rem;
	align-items: center;
}

.top,
.bottom {
	@apply p-4;
}

.icon {
	width: 46px;
	height: 50px;
	background-color: #295293;
	@apply rounded-md;
}

.bottom {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	@apply bg-red-600;
}

.option {
	width: max-content;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: 0.25rem;
	cursor: pointer;
	@apply transition-colors;
}
