@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--navbar-height:73px:
}

@layer utilities {
	.w-maxed {
		max-width: 2000px;
	}
}

@layer components {
	.h-full-wo-nav {
		height: calc(100vh - var(--navbar-height));
	}
	.min-h-full-wo-nav {
		min-height: calc(100vh - var(--navbar-height));
	}
	.max-h-full-wo-nav {
		max-height: calc(100vh - var(--navbar-height));
	}
}

html,
body {
	font-family: 'Inter', sans-serif;
	/* color: ; */
}
