@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--navbar-height: 73px;
}

@layer utilities {
	.w-maxed {
		max-width: 2000px;
	}
}

@layer components {
	.h-full-wo-nav {
		height: calc(100vh - var(--navbar-height));
	}
	.min-h-full-wo-nav {
		min-height: calc(100vh - var(--navbar-height));
	}
	.max-h-full-wo-nav {
		max-height: calc(100vh - var(--navbar-height));
	}

	.text-line-base {
		overflow-wrap: break-word;
		text-overflow: ellipsis;
		white-space: unset;
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
	}

	.text-one-line {
		@extend .text-line-base;
		-webkit-line-clamp: 1;
	}
	.text-two-line {
		@extend .text-line-base;
		-webkit-line-clamp: 2;
	}
	.text-three-line {
		@extend .text-line-base;
		-webkit-line-clamp: 3;
	}
	.text-four-line {
		@extend .text-line-base;
		-webkit-line-clamp: 4;
	}
	.text-five-line {
		@extend .text-line-base;
		-webkit-line-clamp: 5;
	}
	.btn-shadow {
		@apply rounded-lg border border-indigo-500 bg-gray-900 px-2.5 py-1 font-mono text-sm  text-indigo-500 shadow-indigo-500;
		box-shadow: -3px 3px 0px var(--tw-shadow-color);
		transition: all 150ms;
		&:hover {
			box-shadow: 3px -3px 0px var(--tw-shadow-color);
		}
	}
	.btn-shadow-1 {
		@extend .btn-shadow;
		@apply border-red-500 text-red-500 shadow-red-500;
	}
	.btn-shadow-2 {
		@extend .btn-shadow;
		@apply border-orange-500 text-orange-500 shadow-orange-500;
	}
	.btn-shadow-3 {
		@extend .btn-shadow;
		@apply border-lime-500 text-lime-500 shadow-lime-500;
	}
	.btn-shadow-4 {
		@extend .btn-shadow;
		@apply border-theme-500 text-theme-500 shadow-theme-500;
	}
	.btn-shadow-5 {
		@extend .btn-shadow;
		@apply border-rose-500 text-rose-500 shadow-rose-500;
	}
	.btn-shadow-6 {
		@extend .btn-shadow;
		@apply border-purple-500 text-purple-500 shadow-purple-500;
	}
}

.text-hollow {
	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

html,
body {
	font-family: 'Inter', sans-serif;
	/* color: ; */
}
