@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--navbar-height: 73px;
}

@layer utilities {
	.w-maxed {
		max-width: 2000px;
	}
}

@layer components {
	.h-full-wo-nav {
		height: calc(100vh - var(--navbar-height));
	}
	.min-h-full-wo-nav {
		min-height: calc(100vh - var(--navbar-height));
	}
	.max-h-full-wo-nav {
		max-height: calc(100vh - var(--navbar-height));
	}

	.text-line-base {
		overflow-wrap: break-word;
		text-overflow: ellipsis;
		white-space: unset;
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
	}

	.text-one-line {
		@extend .text-line-base;
		-webkit-line-clamp: 1;
	}
	.text-two-line {
		@extend .text-line-base;
		-webkit-line-clamp: 2;
	}
	.text-three-line {
		@extend .text-line-base;
		-webkit-line-clamp: 3;
	}
	.text-four-line {
		@extend .text-line-base;
		-webkit-line-clamp: 4;
	}
	.text-five-line {
		@extend .text-line-base;
		-webkit-line-clamp: 5;
	}
}

.text-hollow {
	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

html,
body {
	font-family: 'Inter', sans-serif;
	/* color: ; */
}
