.wrapper {
	display: flex;
	max-height: calc(100vh - 56px);
	flex: 1;
}

.chat {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	@apply bg-bgDarken;
}

//messages
.messagesWrapper {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	height: 100%;
	overflow-y: scroll;
	@apply px-6 py-2;
}

.message {
	background: orange;
	align-self: flex-end;
	@apply rounded-md px-4 py-2 mb-2;
}

//input area
.inputArea {
	width: 100%;
	position: sticky;
	bottom: 0;
	padding: 9px;
	min-height: 60px;
	display: flex;
	@apply bg-bgDimmed;
}

.sendButton {
	@apply px-4 py-2 bg-green-300 text-green-700 rounded-full;
}

// Chat header
.chatHeader {
	width: 100%;
	z-index: 30;
	display: flex;
	align-items: center;

	@apply py-3 px-4 bg-bg shadow-sm;
}
