.nav {
	@apply flex text-sm text-teal-500 mx-auto;
}

.searchWrapper {
	@apply bg-red-700 py-1 px-2 mr-3  ml-auto;
}

.logo {
	@apply text-3xl font-extrabold text-sky-500 mr-auto cursor-pointer;

	span {
		margin: 0rem;
		@apply transition-all;
	}

	span:nth-child(2n-1) {
		@apply text-theme;
	}

	&:hover {
		span:nth-child(2n-1) {
			animation: logoSwitcher 400ms infinite ease-in-out;
		}
		span:nth-child(2n) {
			animation: logoSwitcher 400ms infinite -200ms ease-in-out;
		}
	}
}

@keyframes logoSwitcher {
	0%,
	50% {
		@apply text-theme mr-1;
	}

	100% {
		@apply text-amber-500 ml-1;
	}
}

.tab {
	@apply font-bold hover:text-green-400 transition-colors cursor-pointer;
}

.controlsSpan {
	@apply flex text-sm mr-3 items-center cursor-pointer relative;
}

// .dropdownTriangle {
// 	transform: translate(1px, -1px) rotate(90deg);
// 	right: 21px;
// 	top: -11px;
// 	width: 0;
// 	height: 0;
// 	border-top: 8px solid transparent;
// 	border-bottom: 8px solid transparent;
// 	border-right: 8px solid rgb(229, 231, 235);
// 	position: absolute;

// 	&::after {
// 		content: '';
// 		width: 0;
// 		height: 0;
// 		border-top: 7px solid transparent;
// 		border-bottom: 7px solid transparent;
// 		border-right: 7px solid rgb(31, 41, 55);
// 		position: absolute;
// 		top: -7px;
// 		left: 1px;
// 	}
// }
