@use 'sass:math';
@use 'colors';
$shadow-number: 8;
$offset-x: 8px;
$offset-y: -8px;
$shadow-number2: 12;
$offset-x2: 6px;
$offset-y2: -6px;
$value: ();
$value2: ();

@for $i from 0 through ($shadow-number) {
	$theShadow: $offset-x * $i $offset-y * $i 0px mix(colors.$theme, colors.$bg, math.div(100%, $shadow-number) * ($i));
	$value: append($value, $theShadow, comma);
}

@for $i from 0 through ($shadow-number2) {
	$theShadow: $offset-x2 *
		$i
		$offset-y2 *
		$i
		0px
		mix(colors.$theme, colors.$bg, math.div(100%, $shadow-number2) * ($i));
	$value2: append($value2, $theShadow, comma);
}

.modal {
	width: 600px;
	max-width: 90vw;
	position: relative;
	border-width: 1px;
	box-shadow: $value;
	animation: shadowFadeIn 1s;

	&:hover {
		box-shadow: $value2;
	}

	@apply mx-auto rounded-lg border border-theme bg-gray-100 p-6 transition-shadow dark:bg-gray-900;
}

.chip {
	&:nth-child(1) {
		/* @apply bg-red-500; */
	}
	&:nth-child(2) {
		/* @apply bg-yellow-500; */
	}
	&:nth-child(3) {
		/* @apply bg-green-500; */
	}
	/* @apply w-16 h-3 mr-2 rounded-lg flex-shrink-0; */
}

@media screen and (max-width: 600px) {
	.modal {
		box-shadow: none !important;
	}
}

@keyframes shadowFadeIn {
	from {
		box-shadow: none;
	}
	to {
		box-shadow: $value;
	}
}
