@use 'colors';

.typedText {
	--typewriterSpeed: 500ms;
	// @apply relative w-max;
	background: red;
	line-break: break-all;
	background-color: colors.$bg;
	.before,
	.after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	> .before {
		background: colors.$bg;
		animation: typewriter var(--typewriterSpeed) forwards;
	}

	> .after {
		width: 0.125em;
		background: black;
		animation: typewriter var(--typewriterSpeed) forwards, blink 750ms infinite;
	}
}

@keyframes blink {
	to {
		background: transparent;
	}
}

@keyframes typewriter {
	to {
		left: 100%;
	}
}
