@use 'colors';

.typedText {
	--typewriterSpeed: 500ms;
	position: relative;
	@apply bg-gray-100 dark:bg-gray-900;
	line-break: break-all;

	.before,
	.after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	> .before {
		animation: typewriter var(--typewriterSpeed) forwards;
		@apply bg-gray-100 dark:bg-gray-900;
	}

	> .after {
		width: 0.125em;
		animation: typewriter var(--typewriterSpeed) forwards, blink 750ms infinite;
		@apply bg-gray-900 dark:bg-gray-100;
	}
}

@keyframes blink {
	to {
		background: transparent;
	}
}

@keyframes typewriter {
	to {
		left: 100%;
	}
}
