.classes-wrapper {
    min-height: 700px;
    display: flex;
    background-color: var(--bg);

    .content-wrapper {
        width: 100%;
        height: 100%;
    }
    @import './components/myclasses.scss';
    @import './components/class.scss';
}
